# {{ ansible_managed }}

cluster.name: {{ es_cluster_name }}
node.name: {{ es_node_name }}

http.port: {{ es_http_port }}
network.host: {{ es_network_host }}

discovery.zen.ping.unicast.hosts: {{ es_host_list }}
discovery.zen.minimum_master_nodes: {{ es_min_master_nodes }}

node.master: {{ es_node_master }}
node.data: {{ es_node_data }}

{% if es_config %}
{{ es_config | to_nice_yaml }}
{% endif %}
